@media screen and (max-width: 1440px)
{
    #about #kutija_autor{
        width: 40%;
    }
    #about #selfie{
        width: 40%;
    }

    #about p{
        font-size: 20px;
    }


}

@media screen and (max-width: 1100px){
    
 
    #about #kutija_autor{
        width: 80%;
    }

    #about p{
        font-size: 18px;
    }

    #about #selfie{
        width: 80%;
    }
    #banner h1{
        font-size: 70px;
    }



}



@media screen and (max-width: 641px)
{

    #banner h1{
        font-size: 35px;
    }
 
    #projects .red-projekata img{
                width: 80%;
                height: 150px;
                margin: 0px 50px;
            }

    #projects .red-projekata p{
        font-size: 10px;
    }

    #skills .red-vestina {
        display: flex;
        flex-flow: column wrap; 
        justify-content: center;
    }

    #about #kutija_autor{
        width: 90%;
    }

    #about p{
        font-size: 18px;
    }

    #about img{
        width: 100%;
    }

    #contact {
        width: 90%;
    }

    #contact #socials i{
        font-size: 30px;
    }


    .meni {
        display:none;
    }
    .meni2{
        display: block;
    }

    .meni2 ul{
        list-style-type: none;
    }
    
    .meni2 ul li{
        padding: 0px;
    }

    .meni2 ul li a{
        color: #e2e2e2;
        text-decoration: none;
        border-bottom: 1px solid #e2e2e2;
        font-size: 14px;

    }

    header{
        position: relative;
        height: 120px;
    } 
}
